body {
    font-family: calibri;
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    color: black;
    font-size: 100%;
    line-height: 140%;
    color: #333;
    max-width: 60em;
}
/*div{
    word-wrap: break-word;
    white-space: pre;
}*/
/* Style for the bar */
.bar {
  height: 30px;
  width: 100%;
  background-color: #512E5F; /* Change the color to your preference */
  color: white;
  padding-left: .5em;
  display: flex;
  align-items: center;
  border-bottom: 6px solid gainsboro;
  font-family: "verdana";
  z-index: 9999; /* Set a high z-index to ensure the bar appears on top of other elements */
  postion: fixed;
}
pre {
    font-family: "consolas";
    border: 1px dotted gainsboro;
    background-color: whitesmoke  ;
    font-size: 100%;
    color: #512E5F;
    padding: 0.5em;
    word-wrap: break-word;
    white-space: pre-wrap;
}
code {
    font-family: "consolas";
    color: #512E5F;
    font-size: 100%;
    background-color: whitesmoke;
    word-wrap: break-word;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: #512E5F;
}

h1 {
        font-size: 130%;
        font-weight: bold;
        border-bottom: 2px solid whitesmoke;
}

h2 {
        font-size: 110%;
        border-bottom: 2px solid whitesmoke;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#go {
  background-color: #512E5F; /* Green */
  border: none;
  color: white;
  padding: 10px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
}

#prompt-input {
    background-color: #76448A;
    color: white;
    padding: 4px;
    border: 2px solid #76448A;
    border-radius: 0px 20px 20px 20px;
}

#prompt-response {
    padding: 10px;
}
table {
  border-collapse: collapse;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gainsboro;
}
td, th {
  border: 1px solid #ddd;
  padding: 4px;
}

textarea {
    border: 1px solid #512E5F;
    border-left: 6px solid #512E5F;
    font-family: calibri;
    font-size: 100%;
    overflow: auto;
    width:100%;
    resize: vertical;
}


/* Style for the white space after the bar */
.space {
  height: 10px;
  width: 100%;
  background-color: #fff; /* Change the color to your preference */
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }