<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello GPT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body>
<div class="bar">HELLO GPT!</div>
<div class="space"></div>
<form method="post">
    <textarea id="input_text" name="input_text" cols="120" rows="5" placeholder="Enter your prompt here"></textarea>
    <label for="model">Choose a model:</label>
    <select name="model" id="model">
        <option value="gpt-4">gpt-4</option>
        <option value="tts-1">tts-1 (speech)</option>
        <option value="dall-e-3">dall-e-3 (image)</option>
    </select>
    <div class="space"></div>
    <button id="go" type="submit">go &raquo;</button>
    <a href="listlogs">history &raquo;</a>
    <script>
        const temp = document.querySelector("#temperature");
        tempvalue.textContent = temp.value;
        temperature.addEventListener('input', (event) => {
            tempvalue.textContent = event.target.value;
            })

    </script>
</form>
{% if prompt_text %}
<div class="space"></div>
<div id="output">
    <div id="prompt-input">{{prompt_text | safe}}</div>
    <div class="space"></div>
    <div id="prompt-response">{{ gpt_response_text | safe }}</div>
</div>
{% endif %}
<div class="space"></div>
<div id="log"></div>
</body>
</html>